@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 0 15vw;
}

nav {
    display: flex;
    height: 100px;
    align-items: center;
}

nav > header {
    height: 27px;
}

nav > ul {
    display: flex;
    width: 80vw;
    justify-content: flex-start;
    margin: 0;
    margin-left: 10vw;
    padding: 0;
}

.nav-link {
    margin-right: 30px;
    list-style: none;
}

.active {
    font-weight: bold;
}

.nav-link > a {
    text-decoration: none;
    font-size: 16px;
    color: #111111;
}

.banner {
    background: #FBDFDB;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 350px;
}

.banner > div {
    align-self: center;
    width: 24vw;
}

.banner > img {
    align-self: flex-end;
}

.banner-title {
    font-size: 32px;
    color: #111111;
    margin: 0 0 10px 0;
}

.banner-text {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin: 0;
}

@media(max-width: 900px) {
    .banner > img {
        display: none;
    }

    .banner > div {
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 500px) {
    .banner {
        height: auto;
        padding: 20px;
    }
}

.detail-banner > img {
    width: 100%;
    border-radius: 15px;
}

.most-viewed,
.categories-list {
    min-width: 70vw;
    margin-top: 40px;
    margin-bottom: 30px;
}

.most-viewed-content,
.categories-list-content {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.most-viewed-content a,
.categories-list-content a {
    text-decoration: none;
}

.recipe-img,
.category-img {
    border-radius: 15px;
    max-width: 22vw;
}

.recipe-name,
.category-name {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #111111;
}

.recipe-author {
    font-size: 14px;
    margin-top: 0;
    color: #777777;
}

@media(max-width: 900px) {
    .most-viewed-content,
    .categories-list-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .recipe-img,
    .category-img {
        max-width: 33vw;
    }
}

@media(max-width: 600px) {
    .most-viewed-content,
    .categories-list-content {
        grid-template-columns: 1fr;
    }

    .recipe-img,
    .category-img {
        max-width: 68vw;
    }
}

.about-section > h1 {
    font-size: 24px;
}

.about-section > p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 50px;
}

.preparation-method h2,
.ingredients h2 {
    font-size: 24px;
}

.preparation-method p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}

.ingredients {
    margin-bottom: 50px;
}

.ingredients ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ingredients ul li {
    background-color: #FBDFDB;
    border-radius: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    color: #444444;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEEEEE;
    height: 80px;
}

footer > span {
    font-size: 14px;
    color: #999999;
    text-align: center;
}